.header_nav {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.header_nav li {
  margin-right: 30px;
}
/* エラーメッセージ用のスタイル */
.error {
  color: red;
}
/* 成功メッセージ用のスタイル */
.success {
  color: green;
}

.delete {
  display: inline;
}

.ordering_list a{
  text-decoration: none;
}

.item_body_main_image {
  width: 300px;
}

.item_body_main_image img{
  width: 100%;
}