/*アイコンの色は　rgb(136, 211, 241)*/
header {
  position: fixed;
  border-top: solid 10px;
  border-color: #c2eeff;
  top: 0;
  background-color: white;
  width: 100%;
  
}

body {
  margin-top: 70px;
  margin-left: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}

.header_content{
  display: flex;
}

.header_content p{
  padding-left:15px;
}

.header_nav {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-left: auto;
  
}

.header_nav li {
  margin-right: 30px;
}

.top_search {
  background-image: url(/storage/images/toppage.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 380px;
  border-radius: 10px;
  text-align: center;
  border: dashed 2px #2e4b71;
}

.top_search p {
  margin-top: 120px;
  font-weight: bold;
  font-size: 30px;
  color: #2e4b71;
}
.top_search input{
  margin-top: 15px;
}

.top_search form {
  margin-top: 0px;
}
.search{
    background-color: #FFAD90;
    font-weight: bold;
    width: 40%;
    height: 60px;
    margin-top: 250px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.user_category_title {
    background-image: url(/storage/images/icon_heart.png);
    background-repeat: no-repeat;
    background-position: 10px 7px;
    padding-left: 40px;
    background-size: 21px;
    background-color: #FFE4E1;
    /*background-color: #FFF5EE;*/
    border-radius: 20px;
}

.user_area_items {
    background-image: url(/storage/images/icon_area.png);
    background-repeat: no-repeat;
    background-position: 10px 7px;
    padding-left: 40px;
    background-size: 21px;
    background-color: #FFE4E1;
    border-radius: 20px;

}

.top_recommend {
  display: flex;
  justify-content: space-between;
}

.top_recommend a{
  width: 300px;
  box-shadow: 4px 4px 7px #DDDDDD;
  border-radius: 10px;
}

.top_img {
  height: 110px;
  text-align: center;
}

.top_img img{
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.top_text_title {
  font-weight: bold;
}
.top_text ul {
  list-style-type: none;
  padding-left: 8px;
  margin-top: 0px;
}

.top_text h3 {
  margin: 0px;
  padding-left: 8px;
  font-size: 15px;
  color: #2e4b71;
}
.user_area_items_content {
  display: flex;
}

.area_search_title {
  background-image: url(/storage/images/map_icon.png);
  background-repeat: no-repeat;
  background-position: 10px 7px;
  padding-left: 40px;
  background-size: 21px;
  background-color: #FFF5EE;
  border-radius: 20px;
}

.area_search_content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.area_search_content ul{
  padding-left: 10px;
  margin-top: 0px;
}

.area_search_content li{
  list-style: none;
  border: solid 1px #80808052;
  box-shadow: 1px 1px 2px #EEEEEE;
  border-radius: 10px;
  font-size: 13px;
  width: 80px;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
}

.area_search_content a{
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    
}


.category_search_title {
  background-image: url(/storage/images/star_icon.png);
  background-repeat: no-repeat;
  background-position: 10px 7px;
  padding-left: 40px;
  background-size: 21px;
  background-color: #FFF5EE;
  border-radius: 20px;
}

.category_search_content {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.category_search_content ul{
  padding-left: 10px;
  margin-top: 0px;
}

.category_search_content li{
  list-style: none;
  border: solid 1px #80808052;
  box-shadow: 1px 1px 2px #EEEEEE;
  border-radius: 10px;
  font-size: 13px;
  width: 150px;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
}

.category_search_content a{
    text-decoration: none;
    color: black;
    
    padding: 10px;
    display: block;
}

.type_search_title {
  background-image: url(/storage/images/icon_hospital.png);
  background-repeat: no-repeat;
  background-position: 10px 7px;
  padding-left: 40px;
  background-size: 21px;
  background-color: #FFF5EE;
  border-radius: 20px;
}

.type_search_content {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.type_search_content ul{
  padding-left: 0px;
  margin-top: 0px;
}

.type_search_content li{
  list-style: none;
  border-right: dashed #C2EEFF;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.type_search_content a{
    color: black;
    padding: 10px;
    display: block;
}

.employment_search_title {
  background-image: url(/storage/images/icon_employment.png);
  background-repeat: no-repeat;
  background-position: 10px 7px;
  padding-left: 40px;
  background-size: 21px;
  background-color: #FFF5EE;
  border-radius: 20px;
}

.employment_search_content {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.employment_search_content ul{
  padding-left: 0px;
  margin-top: 0px;
}

.employment_search_content li{
  list-style: none;
  border-right: dashed #C2EEFF;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.employment_search_content a{
    color: black;
    padding: 10px;
    display: block;
}


/* エラーメッセージ用のスタイル */
.error {
  color: red;
}
/* 成功メッセージ用のスタイル */
.success {
  color: green;
}

.delete {
  display: inline;
}

.ordering_list a{
  text-decoration: none;
}

.item_body_main_image {
  width: 300px;
}

.item_body_main_image img{
  width: 100%;
}

.item_content {
  border: solid;
  border-color: #1e90ff;
  border-radius: 1px;
  margin-bottom: 50px;
}

.item_content_title h2{
  background-color: #f0f8ff;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5px;
  padding-bottom: 3px;
}

.item_content_title a{
  color: #1e90ff;
  text-decoration: underline;
  font-size: 20px;
}

.item_content h3{
  font-size: 15px;
  font-weight: normal;
  margin-top: 0;
  padding-left: 5px;
  margin-bottom: 2px;
}

.item_content_employment {
  background-color: #FF97C2;
  color: white;
  border-radius: 5px;
  padding: 4px;
  font-size: 13px;
  margin-left: 5px;
}

.item_content_type {
  background-color: #009999;
  color: white;
  border-radius: 5px;
  padding: 4px;
  font-size: 13px;
  margin-left: 5px;
}

.item_content_category {
  background-color: #c2eeff;
  color: #1e90ff;
  font-weight: bolder;
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
  margin-left: 5px;
}

.item_content_area_id {
  display: flex;
  flex: wrap;
}

.item_content_access {
  display: flex;
  flex: wrap;
}

.item_content_location dt {
  background-color: white;
  color: #1e90ff;
  border: solid;
  border-color: #1e90ff;
  border-radius: 5px;
  padding: 3px;
  font-size: 11px;
  margin-left: 5px;
}

.item_content_area_id {
  margin-top: 3px;
  margin-bottom: 0;
}

.item_content_area_id dt{
  padding-left: 7px;
  padding-right: 9px;

}

.item_content_access {
  margin-top: 3px;
  margin-bottom: 0;
}

.item_content_area_id dd {
  margin-left: 10px;
  font-size: 14px;
}
.item_content_access dd {
  margin-left: 10px;
  font-size: 14px;
}

.item_content_img {
  display: flex;
  flex: wrap;
  margin-top: 10px;
}


.item_content_img img{
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.item_content_img_table {
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  height: 100px;
  width: 80%;
}


.item_content_img_table table{
  width: 80%;
  height: 100px;
  border-spacing: 0;
  margin-left: 20px;
}

.item_content_img_table th{
  text-align: center;
  font-size: 15px;
  background-color: #f0f8ff;
}

.item_content_img_table td{
  width: 80%;
  padding-left: 20px;
  border-bottom: dashed;
  border-color: #DDDDDD;
  border-bottom-width: thin;
}

.item_content_description {
  line-height: 1.5em;
  height: 4em;
  overflow: hidden;
  padding: 10px;
  color: #444444;
  font-size: 13px;
}

.show_button button{
  width: 100%;
  color: white;
  font-weight: bolder;
  font-size: larger;
  background-color: #1e90ff;
  border: none;
  height: 40px;
}

.show_button button:hover {
  background-color: #0033FF;
}

.item_show_container {
  width: 1200px;
  margin: 0 auto;
  border: solid;
  border-color: #EEEEEE;
  border-radius: 7px;
}

.item_show_container h1{
  margin-left: 10px;
}
.item_show_top {
  display: flex;
  flex: wrap;
  margin-left: 10px;
}

.item_show_top h2{
  margin-left: 20px;
}

.item_show_info h2{
    background-image: url(/storage/images/icon_memo.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 40px;
    background-size: 25px;
    border-bottom: solid;
    border-color: #1e90ff;
    margin-right: 10px;
    margin-left: 10px;
}

.item_show_info dt{
  background-color: #c2eeff;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.item_show_info dd{
 margin-left: 0;
 padding-left: 10px;
 margin: 10px;
}
.item_show_info dl {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.item_show_info_text_empty {
  color: gray;
}

.item_buttons {
  width: 70%;
  display: flex;
  height: 60px;
  margin-left: auto;
  margin-right: auto
}

.like_button {
  width:20%;
  border: solid;
  color: #FFAD90;
  font-weight: bold;
  font-family: sans-serif;
  padding-bottom: 5px;
  padding-top: 10px;
  border-radius: 10px;
  margin-top: 5px;
  border-width: 4px;
  text-align: center;
  cursor: pointer;
}

.order_button {
  width: 70%;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  background-color: #1e90ff;
  margin-top: 5px;
  padding-top: 11px;
  padding-bottom: 5px;
  border-radius: 10px;
}
.order_button form {
  text-align: center;
  padding-right: 40px;
}

.order_button input{
  cursor: pointer;
  background-color: #1e90ff;
  border: none;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
}

.confirm_img img{
  width: 200px;
  height: 200px;
  margin: 10px;
}

.confirm {
  display: flex;
  flex: wrap;
  align-items: center;
}

.confirm_show_container {
  width: 1200px;
  margin: 0 auto;
  border: solid;
  border-color: #EEEEEE;
  border-radius: 3px;
  border-top-color: #1e90ff;
  border-top-width: 8px;
}

.confirm_img_table table{
  width: 90%;
  height: 100px;
  border-spacing: 0;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.confirm_img_table th{
  text-align: center;
  font-size: 15px;
  background-color: #f0f8ff;
}

.confirm_img_table td{
  padding-left: 20px;
  border-bottom: dashed;
  border-color: #DDDDDD;
  border-bottom-width: thin;
  width: 85%;
}

.confirm_img_text {
  flex-grow:1;
}

.order {
  
  text-align: center;
  margin-top: 20px;
  
}
.order input{
  cursor: pointer;
  border: none;
  padding: 20px;
  background-color: #1e90ff;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  width: 40%;
  border-radius: 10px;
  font-size: 20px;
}

.profile_title {
    width: 70%;
    background-image: url(/storage/images/icon_profile.png);
    background-repeat: no-repeat;
    background-position: 10px 15px;
    padding-left: 50px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-size: 30px;
    background-color: #FFF5EE;
    border-radius: 10px;
}

.profile_title h1 {
  font-size: 20px;
  color: #2e4b71;
}

.profile_order_title {
    width: 30%;
    background-image: url(/storage/images/icon_order.png);
    background-repeat: no-repeat;
    background-position: 10px 15px;
    padding-left: 50px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-size: 30px;
    border-bottom: solid;
    border-color: #2e4b71;
}

.profile_order_title h1 {
  font-size: 20px;
  color: #2e4b71;
}