header {
  display:flex;
  background-image: url('/storage/images/header_background.JPG');
}

.header_nav {
  display: flex;
  list-style: none;
  margin-left: auto;
  
}

.header_list {
  justify-content: flex-end;
}
.header_nav li {
  margin-right: 30px;
}

.search{
    background-color: #FFFFFF90;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

/* エラーメッセージ用のスタイル */
.error {
  color: red;
}
/* 成功メッセージ用のスタイル */
.success {
  color: green;
}

.delete {
  display: inline;
}

.ordering_list a{
  text-decoration: none;
}

.item_body_main_image {
  width: 300px;
}

.item_body_main_image img{
  width: 100%;
}